# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Generated SAM Template
sam-template.yml

# serverless-optimize tmp storage
_optimize/

# serverless-optimize tmp storage
_warmup/

coverage/**

dist/

*.log

iopipe_handlers/

reports/

junit.xml

test.js